body {
  position: relative;
}
nav {
  width: 100%;
  position: absolute;
  height: 75px;
  background: #fff;
  top: 0;
}

nav .logo {
  line-height: 75px;
  font-size: 40px;
}

form > div {
  padding: 10px 0;
}

form label {
  display: block;
  text-align: left;
}

form label[for="number"] {
  margin-top: 20px;
}

form input {
  font-size: 20px;
}